
.green-text {
     color: green;
 }
.black-text {
    color:black;
}
.dodger-blue {
    color:dodgerblue;
}
.orange-text {
    color:orange;
}

.grey-text {
    color:grey;
}
.white-text {
    color:whitesmoke;
}
 body {
    background-color:black;
}
div.a {
    text-align: center;
}