
.green-text {
     color: green;
 }
.black-text {
    color:black;
}
.dodger-blue {
    color:dodgerblue;
}
.orange-text {
    color:orange;
}

.grey-text {
    color:grey;
}
.white-text {
    color:whitesmoke;
}
 body {
    background-color:black;
}
div.a {
    text-align: center;
}

  img {
    border: 150px;
    width: 300px;
}
div.b {
    vertical-align:text-top;
}
div.c {
    box-align:right;
}
img {
    float:left;
    Margin-right:25px;
}