
h1 {
    text-align:Center;
    color:orange;
}
p {
    text-align:center;
    color:orange;
    font-size:20px;
}
:root {
    Background-image:url("Evil.jpg");
}
#survey-form {
    color:orange;
}
#name,#name-label {
    display:flex;
    flex: 1 50%;
    flex-direction:column;
}
#email,#email-label {
    display:flex;
    flex: 2 50%;
    flex-direction:column;
}
#number,#number-label {
    display:flex;
    flex: 3 50%;
    flex-direction:column;
    color:orange;
}
#dropdown-menu {
    display:flex;
    flex: 4 50%;
    flex-direction:column;
    color:orange;
}
h2 {
    font-size:20px;
}
h3 {
    font-size:15px;
}
h4 {
    font-size:20px;
}
