
h1 {
    text-align:Center;
    color:orange;
}
p {
    text-align:center;
    color:orange;
    font-size:20px;
}
:root {
    Background-image:url("Evil.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    filter:saturate(60%)
}
#survey-form {
    color:orange;
}
#name,#name-label {
    display:flex;
    flex: 1 50%;
    flex-direction:column;
    width:200px;
    padding:15px;
    box-sizing:border-box;
    background-color:transparent;
    color:orange;
}
#email,#email-label {
    display:flex;
    flex: 2 50%;
    flex-direction:column;
    width:200px;
    padding:15px;
    box-sizing:border-box;
    background-color:transparent;
    color:orange;
}
#number,#number-label {
    display:flex;
    flex: 3 50%;
    flex-direction:column;
    color:orange;
    width:200px;
    padding:15px;
    box-sizing:border-box;
    background-color:transparent;
}
#dropdown-menu {
    display:flex;
    flex: 4 50%;
    flex-direction:column;
    color:orange;
    width:200px;
    padding:15px;
    box-sizing:border-box;
    background-color:transparent;
}
h2 {
    font-size:20px;
}
h3 {
    font-size:15px;
}
h4 {
    font-size:20px;
}
::placeholder {
    color:white;
    opacity:1;
}