#header-img {
    width:200px;
    height:200px;
    position: relative;
    left:850px;
    bottom:100px;
}
#video {
    position: fixed;
}
:root {
    background-image: url(DK.jpg);
    position:fixed;
    width: 2000vh;
    height: 1000vh;
}
