
 #image {
    max-width:100%;
    display:block;
}
.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
#title {
    text-align:left;
}
#main {
    background-color:#02735E;
    border:15px solid red;
}
#tribute-info {
    font-size:19px;
    display:block;
    flex-direction:column;
    -ms-flex-order:1;
}
#img-caption {
    font-size:20px;
    text-align:center;
}
#img-div {
    float:left;
    max-width:100%;
}
#tribute-link {
    display:block;
    text-align:center;
    -ms-flex-order:2;
}
#quote-caption {
    font-style:italic;

}